### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### OCR / Uploaded Files ###
src/ocr/app/files/*
!src/ocr/app/files/.gitkeep

### Verification Hub / Test Results ###
src/verification_hub/verification_results/*
!src/verification_hub/verification_results/.gitkeep